.backdrop-fade {
  &-enter {
    opacity: 0;

    &-active {
      opacity: 0.55;
      transition: opacity 500ms;
    }

    &-done {
      opacity: 0.55;
    }
  }

  &-exit {
    opacity: 0.55;

    &-active {
      opacity: 0;
      transition: opacity 500ms;
    }
  }
}

.sidebar-slide {
  &-enter {
    left: -80% !important;

    &-active {
      left: 0 !important;
      transition: 500ms;
    }

    &-done {
      left: 0 !important;
    }
  }

  &-exit {
    left: 0 !important;

    &-active {
      left: -80% !important;
      transition: 500ms;
    }
  }
}

.activity-form-slide {
  &-enter {
    bottom: -83% !important;

    &-active {
      bottom: 0 !important;
      transition: 500ms;
    }

    &-done {
      bottom: 0 !important;
    }
  }

  &-exit {
    bottom: 0 !important;

    &-active {
      bottom: -83% !important;
      transition: 500ms;
    }
  }
}
