.backdrop-fade {
  &-enter {
    opacity: 0;

    &-active {
      opacity: 0.55;
      transition: opacity 500ms;
    }

    &-done {
      opacity: 0.55;
    }
  }

  &-exit {
    opacity: 0.55;

    &-active {
      opacity: 0;
      transition: opacity 500ms;
    }
  }
}
