* {
  font-family: 'Nunito', sans-serif;
}

$theme-colors: ("primary":#158467, "danger": #f05454);

.form-control,
.btn {
  height: 52px !important;
}

.cursor-pointer {
  cursor: pointer;
}

svg {
  cursor: pointer;
}

@import '~bootstrap/scss/bootstrap.scss';
